test.py
__pycache__/Selecting.cpython-310.pyc
__pycache__/Selecting.cpython-311.pyc
results/地震动信息.csv
results/反应谱.csv
results/归一化地震动/111 222.txt
results/归一化地震动/No1_RSN3942_Tottori_ Japan_11998_0.01.txt
results/归一化地震动/No2_RSN2004_CA_Baja Border Area_20000_0.005.txt
results/归一化地震动/No3_RSN54_San Fernando_5127_0.005.txt
results/归一化地震动/No4_RSN5459_Iwate_ Japan_11100_0.01.txt
results/归一化地震动/No5_RSN5834_El Mayor-Cucapah_ Mexico_26000_0.005.txt
results/归一化地震动/No6_RSN2456_Chi-Chi_ Taiwan-03_14750_0.004.txt
results/归一化地震动/No7_RSN4041_Bam_ Iran_6656_0.005.txt
results/未缩放地震动/No1_RSN3942_Tottori_ Japan_11998_0.01.txt
results/未缩放地震动/No2_RSN2004_CA_Baja Border Area_20000_0.005.txt
results/未缩放地震动/No3_RSN54_San Fernando_5127_0.005.txt
results/未缩放地震动/No4_RSN5459_Iwate_ Japan_11100_0.01.txt
results/未缩放地震动/No5_RSN5834_El Mayor-Cucapah_ Mexico_26000_0.005.txt
results/未缩放地震动/No6_RSN2456_Chi-Chi_ Taiwan-03_14750_0.004.txt
results/未缩放地震动/No7_RSN4041_Bam_ Iran_6656_0.005.txt
results/缩放后地震动/No1_RSN3942_Tottori_ Japan_11998_0.01.txt
results/缩放后地震动/No2_RSN2004_CA_Baja Border Area_20000_0.005.txt
results/缩放后地震动/No3_RSN54_San Fernando_5127_0.005.txt
results/缩放后地震动/No4_RSN5459_Iwate_ Japan_11100_0.01.txt
results/缩放后地震动/No5_RSN5834_El Mayor-Cucapah_ Mexico_26000_0.005.txt
results/缩放后地震动/No6_RSN2456_Chi-Chi_ Taiwan-03_14750_0.004.txt
results/缩放后地震动/No7_RSN4041_Bam_ Iran_6656_0.005.txt
